body {
    background-image: url("/home/amit/Desktop/project-2-vscode/Main-Project/static/images
/cloud-computing-virtualization.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
